element.style {
    position: absolute;
    display: block;
    background-image: url(https://wallpapercave.com/wp/wp4323509.jpg);
    width: 27px;
    height: 27px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: -20px;
}
.bc{
  <img src:"https://wallpapercave.com/wp/wp4323509.jpg">;
}
